@font-face {
    font-family: 'iranyekanlight';
    src:url('../font/Qs_Iranyekanlight.ttf') format('truetype');
        
}
@font-face {
    font-family: 'iranyekan';
    src:url('../font/Qs_Iranyekanmedium.ttf') format('truetype');
        
}
@font-face {
    font-family: 'iranyekanvbold';
    src:url('../font/Qs_Iranyekanbold.ttf') format('truetype');    
}
@font-face {
    font-family: 'Iranyekanextrabold';
    src:url('../font/Qs_Iranyekanextrabold.ttf') format('truetype');    
}
@font-face {
    font-family: 'Yekan-Bakh-Bold';
    src:url('../font/Yekan-Bakh-FaNum-06-Bold.woff') format('woff');    
}
@font-face {
    font-family: 'Yekan-Bakh-Heavy';
    src:url('../font/Yekan-Bakh-FaNum-07-Heavy.woff') format('woff');    
}
@font-face {
    font-family: 'KalamehWeb_Black';
    src:url('../font/KalamehWeb_Black.woff') format('woff');    
}
@font-face {
    font-family: 'KalamehWeb_Black';
    src:url('../font/KalamehWeb_Black.ttf') format('truetype');    
}
@font-face {
    font-family: 'KalamehWeb_Black';
    src:url('../font/KalamehWeb_Black.eot') format('eot');    
}

* {
    margin: 0px;
    padding: 0px;
    direction: rtl;
}
a{
    text-decoration: none; 
}
li {
    list-style: none;
}


/* start header */
.header{
    display: none;
    margin-top: 25px;
    z-index: 3;
    position: relative;
}
.mobile-header {
    height: 84px;
    align-items: center;
    display: flex;
    box-shadow: 0px 6px 14px -9px gray;
    z-index: 3;
    position: fixed;
    width: 100%;
    background: white;
    right: -2px;
}
.mob-heder-row {
    display: flex;
    align-items: center;
}
.ct-menu-mobile {
    display: flex;
    justify-content: flex-end;
    grid-gap: 25px;
    margin: 25px;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.header-Support {
    display: flex;
    position: relative;
    margin-right: 38px;
    margin-bottom: 14px;
}

.logo {
    margin-bottom: 20px;
}

.header-email {
    margin-right: -4px;
    padding-right: 45px;
}
.icon-header {
    font-size: 33px;
    color: #54febd;
    margin-left: 15px;
    line-height: 1;
}
.meta-header {
    font-family: 'iranyekan';
    font-size: 15px;
    color: #6c6c6c;
}
.list-item {
    display: flex;
}
.item {
    font-family: 'iranyekan';
    text-transform:uppercase;
}
.item::after {
    display:block;
    content: ' ';
    border-bottom: solid 5px #54febd;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    padding-bottom: 21px;
}
.item:hover:after { 
    transform: scaleX(1); 
}

.item::after:active {
    display:block;
    content: ' ';
    border-bottom: solid 5px #54febd;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    padding-bottom: 21px;
}
.item:hover:after:active { 
    transform: scaleX(1); 
}

/* dropdown */

    .menu-item-130 {
        position: relative;
        display: inline-block !important;
        display: block;
        padding: 0px 35px;
        color: #333;
        text-decoration: none;
        font-size: 18px;
    }
    .sub-menu {
        display: none;
        position: absolute;
        right: -8px;
        top: 56px;
        background-color: #fff;
        min-width: 12vw;
        z-index: 1;
        border-radius: 5px;
        list-style: none;
        padding: 0px;
    }
    .item:hover>.sub-menu {
        position: static;
        display: block;
    }    
    .menu-item-130>.sub-menu>li {    
        padding: 15px 15px;
        font-size: 16px;
        font-weight: 600;
        background-color: white;
        color: #1f4260b5;
        border-radius: 5px;
        transition: 0.2s;
    }
    .menu-item-130>.sub-menu>li:hover{
        background-color: #54febd;
        color:#fff;
        transition: 0.4s;
    }
    .icon-option{
        position: relative;
        left: 36px;
    }
    
.search-mob {
    margin-top: 19px;
    margin-right: 34px;
    margin-left: 5px;
    background-color: #eaeaea;
    border-radius: 4px;
    border: none;
    padding: 7px;
    width: 75%;
}
.header-button {
    border-radius: 4px;
    margin-right: 40px;
    margin-bottom: 32px;
    background-color: aqua;
    color: white;
    width: 160px;
    height: 46px;
    padding: 10px;
}
.header-button:hover {
    background-color:#1d1b4c;
}
.header-button>a {
    font-family: 'Yekan-Bakh-Bold';
    color: #1d1b4c;
    height: 38px;
    width: inherit;
    display: inline-block;
    font-size: 18px;
}
.header-button>a:hover {
    color:  aqua;
}
/*end sub menu*/
/* hader mobile */
/* menu-bar-mobile css */
.menu {
    height: 103vh;
    width: 68%;
    top: 0;
    right: -100%;
    transition: all 0.3s ease-in;
    background-color: #fff;
    position: absolute;
    overflow: scroll;
    box-shadow: 0px 6px 14px -9px gray;
}
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  
  .menu li {
    margin: 10px 7px;
  }
  
  .menu li a {
    display: block;
    padding: 0px 35px;
    color: #333;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Show menu in open state */
  .menu.show {
      right: 0;
      transition: all 0.3s ease-in;
      z-index: 10;
  }
  .menu-btn {
    width: 30%;
    position: relative;
    left: -8%;
    z-index: 11;
    border: solid #9d9d9d 0px;
    border-radius: 8px;
    top: -2px;
    display: block;
}

/* end header style */









main {
    /* make sure to cover the screen */
    background-color: #fff;
    /* need a solid bg to hide the footer */
      /* put on top */
    position: relative;
    z-index: 1;
}

.banner-site {
    margin-top: 130px;
    
}
.banner-site .flickity-slider {
    display: flex;
}
.banner-site .carousel-cell {
    width: 86%;
    display: grid;
    justify-items: center;
}

.banner-site .carousel-cell img {
    border-radius: 50px;
    width: 87%;
    height: 250px;
}


.page2-row {
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-wrap: wrap;
}
.content-p2w {
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-p2w h1 {
    font-family: 'KalamehWeb_Black';
    font-size: 50px;
    font-weight: 900;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: right;
    color: rgb(45, 142, 147);
    padding: 75px 0% 0px 0px;
}
.content-p2w p {
    font-family: 'iranyekan';
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    padding: 6px 15px 0px 3%;
}
.content-p2w button {
    margin: 5px 12px 100px 0px;
    padding: 7px 8px 4px 51px;
    border-radius: 12px;
    border: none;
    color: white;
    background: #28B0BD;
    font-family: 'iranyekan';
    font-size: 18px;
    transition: all 0.2s cubic-bezier(1, 1.32, 0.13, -0.03);
}


.content-p2w button:hover {
    background-color: #54febd;
    transition: all 0.2s cubic-bezier(1, 1.32, 0.13, -0.03);
}
.content-p2w-video img,video {
    width: 97%;
    margin-top: -38px;
    margin-right: 8px;
}

.head-p3 {
    color: #2D8E93;
    text-align: right;
    font-family: 'KalamehWeb_Black';
    font-size: 56px;
    font-style: normal;
    line-height: normal;
    text-align: center;
    margin: 40px 0px 40px 0px;
}

.row-p3 {
    display: grid;
    grid-template-columns: repeat(2, 282px);
    grid-column-gap: 50px;
    grid-row-gap: 33px;
    justify-content: center;
}

@media screen and (max-width:576px){ 
    .row-p3 {
        display: grid;
        grid-template-columns: repeat(1, 282px);
        grid-column-gap: 160px;
        grid-row-gap: 33px;
    }

}
.cellg {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 5px;
    transition: all 0.2s cubic-bezier(1, 1.32, 0.13, -0.03);
}
.cellg:hover {
    box-shadow: 0px 5px 0px -1px rgba(14, 127, 175, 0.48);
    transition: all 0.2s cubic-bezier(1, 1.32, 0.13, -0.03);
}
.img-ads > img{
    width: 150px;
    border-radius: 8px;
}
.title-ads {
    color: #29B0BD;
    text-align: right;
    font-family: 'KalamehWeb_Black';
    font-size: 37px;
    font-style: normal;
    line-height: normal;
}
.p-ads {
    color: #262626;
    text-align: center;
    font-family: 'iranyekan';
    font-size: 16px;
    line-height: normal;
}
.row-p3 + button {
    display: block;
    margin: 20px auto 0 auto;
    border: none;
    padding: 7px 15px 4px 60px;
    border-radius: 10px;
    box-shadow: 0px 4px 7px 0px rgba(13, 110, 119, 0.48);
    color: white;
    background: #28B0BD;
    font-family: 'iranyekan';
    font-size: 18px;
    transition: all 0.2s cubic-bezier(1, 1.32, 0.13, -0.03);
}
.row-p3 + button:hover {
    background-color: #54febd;
    transition: all 0.2s cubic-bezier(1, 1.32, 0.13, -0.03);
}

.img-back-p4 {
    background-image: url(../img/slider-img222.png);
    height: 665px;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 665px;
    margin-right: -12px;
}
@media screen and (max-width:576px){ 
    .img-back-p4 {
        background-image: url();
        height: 665px;
        background-position-x: right;
        background-repeat: no-repeat;
        background-size: 665px;
        margin-right: 0px;
    }
}
.head-p4 {
    color: #2D8E93;
    font-family: 'KalamehWeb_Black';
    font-size: 56px;
    text-align: center;
    margin: 25px auto 21px auto;
    padding-top: 0px;
    position: relative;
    top: 15px;
}
.cell-p4 {
    height: 250px;
    background-color: #FBFBFB;
    width: 280px;
    margin: 20px auto;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 1px 10px -1px rgba(30, 148, 159, 0.48);
}

.h4-p4 {
    color: #2D8E93;
    text-align: right;
    font-family: 'KalamehWeb_Black';
    font-size: 34px;
    font-style: normal;
    line-height: normal;
}

.img-back-p5 {
    background-image: url(../img/Vector-p5.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 44%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
@media (max-width:1300px) {
    .col-lg-1 > svg {
        display: none;
    }
    
}

.title-personel-p5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width:576px){ 
    .title-personel-p5 {
        margin-top: 270px;
    }
}
.title-personel-p5 > svg {
    margin-top: 50px;
    width: 100%;
}
.title-personel-p5 > h3 {
    font-family: 'KalamehWeb_Black';
    font-size: 45px;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: right;
    color: #2D8E93;
    position: relative;
    padding: 10px 0% 0px 0px;
    top: -113px;
}
.title-personel-p5 > p {
    font-family: 'iranyekan';
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    padding: 6px 15px 0px 3%;
    margin-top: -56px;
    color: #525252;
}
.title-personel-p5 > button {
    margin: 60px 0px 100px 0px;
    padding: 9px 18px 7px 62px;
    border-radius: 12px;
    border: none;
    color: white;
    background: #28B0BD;
    font-family: 'iranyekan';
    font-size: 18px;
    transition: all 0.2s cubic-bezier(1, 1.32, 0.13, -0.03);
}
.title-personel-p5 > button:hover {
    background-color: #54febd;
    transition: all 0.2s cubic-bezier(1, 1.32, 0.13, -0.03);
}
.personel-p5 {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 50px;
}
.personel-cell {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    grid-gap: 50px;
}
.personel {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.personel >img {
    width: 280px;
    height: 270px;
    object-fit: fill;
    border-radius: 12px;
    
}
.title-personel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border-radius: 4px;
    box-shadow: 0px 5px 24px 1px rgb(189 190 190 / 48%);
    background-color: #ffffff;
    margin-top: -47px;
    padding-top: 12px;
    transition: 0.3s ease-in;
}
.title-personel h5 {
    font-family: 'iranyekanvbold';
    color: #24225a;
    margin-right: 0px;
    padding: 2px 16px 5px 16px;
    transition: 0.4s;
    border-radius: 4px;
}
.title-personel p {
    color:  #54febd;
    font-family: 'iranyekanvbold';
}
.personel:hover {
   
    transform: translate(0px, 20px);
    transition: 0.3s ease-in;
}
.title-personel:hover {
    transform: translate(0px, -50px);
    transition: 0.3s ease-in;
    background-color: #2d8e93be;
}

.banner-p5 {
    margin-top: 100px;
    
}
.banner-p5 .carousel-cell {
    margin: 0 10px;
}
.banner-p5 .carousel-cell img {
    width: 180px;
    transform: rotateZ(0deg);
    transition: all 0.8s ease-in;
    border-radius: 8px;
    object-fit: fill;
    opacity: 0.5;
}
.banner-p5 .carousel-cell img:hover {
    transform: rotateZ(360deg);
    transition: all 0.8s ease-in-out;
    background-color: #cfffee; 
    opacity: 1;
}



/* page6 style */
.header-p6 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row-p6 {
    display: flex;
    flex-direction: column;
    background: rgba(40, 176, 189, 0.06);
}
.head-p6 {
    font-family: 'KalamehWeb_Black';
    font-size: 36px;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: right;
    color: #2D8E93;
    position: relative;
    padding: 7px 0% 0px 0px;
    top: -113px;
}
.header-p6 > svg {
    width: 100%;
}
.Advertising-p6 {
    margin-bottom: 50px;
    padding: 0 0px;
}
.carousel-cell-Advertising {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 0 12px;
    margin-right: 19px;
}
.roww-1 img {
    width: 290px;
    object-fit: fill;
    border-radius: 8px;
}
.roww-2 {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 7px;
    grid-column-gap: 7px;
    width: inherit;
    padding: 0 12px;
}
.roww-2 .tag {
    width: fit-content;
    background-color: #54febd;
    border-radius: 50px;
    padding: 5px;
}
.roww-2 .tag p {
    margin-bottom: 1px;
    font-family: 'iranyekan';
    font-size: 12px;
    color: white;
}
.roww-3 h4 {
    font-family: 'iranyekanvbold';
    font-size: 18px;
    color: #393939;
    text-align: justify;
    word-break: break-word;
    margin:5px 0px 12px 0px;
}
.roww-4 p {
    font-family: 'iranyekanvbold';
    font-size: 13px;
    color: #5b5b5b;
    text-align: justify;
    word-break: break-word;
    margin:5px 0px 20px 0px;
}
.roww-5 {
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    padding: 0 13px;
}
.roww-5 img {
    border-radius: 50% !important;
    width: 45px;
    height: 45px;
}
.roww-5 p {
    display: inline-block;
    font-family: 'iranyekan';
    font-size: 12px;
    color: #5C5C5C;
    margin-right: 5px;
}
.roww-5 .lg4 {
    padding-top: 11px;
}
.flickity-rtl .flickity-page-dots {
    direction: rtl;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}
.Advertising-p6 .flickity-page-dots .is-selected {
    background-color: #28B0BD;
}




.main-blog-Ma {
    margin-top: 80px;
}

.main-blog-Ma p {
    font-family: 'iranyekan';
    font-size: 16px;
    color: #5C5C5C;
    padding: 0 12px;
    text-align: justify;
}

.myB {
    content: "";
    display: block;
    width: 96%;
    background: linear-gradient(180deg, rgba(250, 250, 250, 0.13) 0%, #FFFFFF 85.98%);
    margin-top: -182px;
    padding-top: 183px;
    position: absolute;
}
#myBtn {
    font-family: 'iranyekan';
    font-size: 16px;
    color: #5C5C5C;
    background-color: #FFFFFF;
    width: 100%;
    border: none;
    margin-bottom: 60px;
}















/* start footer */

footer {
    /* place on the bottom */
    display: flex;
    width: 100%;
    flex-direction: column;
  }
.footer-cont {
    text-align: justify;
    margin-bottom: 10px;
    margin-right: 2px;
    padding: 0px;
}
.footer-row {
    display: flex;
    justify-content: space-evenly;
    grid-column-gap: 150px;
    flex-direction: row;
    flex-wrap: wrap;
}


.foo-logo {
    font-family: 'iranyekanlight';
}
.foo-btn {
    margin-top: 45px;
}
.footer-button {
    font-family: 'iranyekan';
    color: #1d1b4c;
    background-color: #54febd;
    margin-right: 0px;
    padding: 2px 16px 5px 16px;
    transition: 0.4s;
    border-radius: 4px;
}
.footer-button:hover {
    background-color: #1d1b4c;
    transition: 0.4s;
    color:  #54febd;;
}
.foo-title>h4 {
    font-family: 'KalamehWeb_Black';
    font-size: 30px;
    color: #1d1b4c;
    padding-top: 25px;
    margin-bottom: 20px;
}
.foo-title>p {
    font-family: 'iranyekanlight';
    font-size: 15px;
}
.info-design {
    font-family: 'iranyekanlight';
    font-size: 13px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #010011;
    color:#fff;
    padding-top: 17px;
}
.foo-form {
display: flex;
align-items: center;
}
.foo-form>input[type=email] {
    font-family: 'iranyekan';
    font-size: 14px;
    border: none;
    background-color: #eeeeee;
    padding: 12px;
    outline: none; 
    width: 287px;
}
.foo-form>button {
    width: 70px;
    border: none;
    border-radius: 2px;
    background-color: #1d1b4c;
    margin-right: -5px;
    padding: 8px 10px 6px 37px;
}
.foo-form>button>i {
    width: 49px;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    font-size: 30px;
}
.icon-contact {
    display: flex;
    justify-content: center;
    align-items: stretch;
    grid-gap: 43px;
    margin-top: 25px;
}

.icon-contact>a {
    color:  cyan;
    transition: all 200ms linear 0ms;
}
.icon-contact>a:hover {
    color:  rgb(6, 51, 124);
    transition: all 200ms linear 0ms;
}
.foo-ul>li {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    font-family: 'iranyekanlight';
    font-size: 15px;
    width: 100%;  
    margin-bottom: 45px;
}
.foo-ul>li>i {
    margin-top: 3px;
    font-size: 16px;
    color:  cyan;
}
.foo-title {
    width: 98%;
}